[Desktop Entry]
Name=NEX App (Old, Zyneon Application)
Exec=java -jar /usr/bin/nerofy/nexus-app/nex-app.jar
Icon=/usr/bin/nerofy/nexus-app/icon.png
Type=Application
Categories=Game;
